{%extends 'base.html'%} 
{% load bootstrap3 %}
{% block content %}
{% for image in images %}
<div class="container">
<div class="card" style="width:700px"> 
    
  <h1><img  class="rounded-circle account-img" src="{{user.profile.profile_pic.url}}" alt="" height="100px" width="100px">{{user.username}}</h1>
 
  <img class="card-img-top" src="{{image.image.url}}" alt="Card image"><br>
  <div class="card-body">
    <h4 class="card-title"></h4>
  
  
  <a class='info' href="{% url 'like' image.id %}">
  <img src="/static/images/heart-128.png"  height="90px" width="90px" alt="">
   
</a><span style="font-size:25px;">{{image.likes.count}}</span>

  
  <img src="/static/images/message.png" height="90px" width="90px" alt="">
  <p><strong>Add a comment...</strong></p>
  <form  action="{%url 'uploadcomments' image.id%}" method="post">
    {%csrf_token%}
    {{MyCommentForm}}
  </form>
  {% for comment in image.all_comments %}
<p>{{comment.comment}}</p>
 
  {%  endfor %}
 

</div>
</div>
</div>

 
{% endfor %}
{% endblock %}
