{%extends 'base.html'%} 
{% load bootstrap4 %}
{% block content %}
{% for image in images %}
<div class="container">
<div class="card" style="width:700px"> 
 
  <img class="card-img-top" src="{{image.image.url}}" alt="Card image"><br>
  <div class="card-body">
    <h4 class="card-title"></h4>
  
  <img src="/static/images/hapa.png"  height="90px" width="90px" alt="">13 likes
  <img src="/static/images/message.png" height="90px" width="90px" alt="">
  <p class="card-text"><strong>Add comment...</strong></p>
  </div>
</div>
</div>
 
{% endfor %}
{% endblock %}
