<nav  class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
          <div class="navbar-header">
            <img src="/static/images/real.png" alt=""><hr>
            <form class="mb-0 h1 ml-auto mr-auto" id="searchform" >
              <input name="search" autocomplete="off" id="searching" class="form-control d-none d-md-block" placeholder=" Search">
             <i class="spinner "></i>
         </form>
             
            <h1>Instagram</h1>
          </div>
    
         
          <div class="col-sm-4 col-md-4 navbar-right">
    
          </div>
        </div>
      </nav>
    
      