h1{
    color: rgb(10, 10, 10);
    font-family: 'Lobster Two', cursive;
}
#pesh{
    font-family: 'Lobster', cursive;
}
.instaicon{
    display: inline-block;
    background-image: url(/static/images/instagram-new.png);
}