h1{
    color: rgb(10, 10, 10);
    font-family: 'Lobster Two', cursive;
}
#pesh{
    font-family: 'Lobster', cursive;
}

#form{
    display: inline;

}
nav{
    position: sticky;

}
#haha{
    background-color:darksalmon;
}